@media screen and (max-width: 610px) {
  .title {
    display: none;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
    margin-bottom: 40px;
  }
}
