@import './constants';

$margin: 15%;

.about {
  font-family: $fontFamily;
  color: $textColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  .description {
    margin-block-start: 0.67em;
    animation: none;
  }
}

.form {
  font-family: inherit;
  color: inherit;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.disappear {
  animation: disappear 1s ease-out;
}

.appear {
  animation: appear 1s ease-in;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#name,
#message,
.submit {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: $margin;
  margin-right: $margin;
  font-size: 25px;
  border-radius: 15px;
  outline: none;
}

#name {
  height: 40px;
  padding-left: 10px;
  margin-bottom: 15px;
}

#message {
  height: 240px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  margin-bottom: 15px;
}

#wrongData {
  text-align: center;
  font-size: 50px;
  margin: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease-in;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
}

.show {
  opacity: 1 !important;
}

.submit {
  color: $textColor;
  height: 40px;
  background-color: $moduleColor;
  text-decoration: none;
  border-style: none;
}

.thank {
  text-align: center;
  font-size: 50px;
}

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.linkBox {
  height: 100px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.link {
  color: $textColor;
  text-decoration: none;
  font-size: 25px;
  height: 100px;
  display: flex;
  align-items: center;
  p {
    margin: 0;
    vertical-align: middle;
    line-height: normal;
  }
}

.credit {
  color: $textColor;
  a {
    color: $moduleColor;
  }
}
