@import './constants';

.block {
  background-color: $moduleColor;
  margin: 15px;
  height: 11%;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease-out;
  user-select: none;
}

.blockText {
  margin: auto;
  height: 100%;
  width: 100%;
  font-family: $fontFamily;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: $textColor;
}

.active {
  background-color: $additionalColor1;
  transition: background-color 0.2s ease-out;
  animation: click 0.15s ease-out;
}

.right {
  background-color: rgb(49, 175, 49);
  pointer-events: none;
  transition: background-color 0.5s ease-out;
}

.wrong {
  background-color: rgb(243, 52, 45);
  transition: background-color 0.5s ease-out;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
