@import './constants';

.error {
  margin: 200px auto;
  text-align: center;
  font-size: 50px;
  color: $textColor;
}

.gameBoard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.score {
  display: flex;
  justify-content: flex-end;
}

.scoreText {
  margin: 0;
  font-family: $fontFamily;
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
}

.center {
  width: 20vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.centerButton {
  box-sizing: border-box;
  margin-bottom: 40px;
  width: auto;
  border-radius: 20px;
  height: auto;
  padding: 7px;
  background-color: $additionalColor1;
  font-family: $fontFamily;
  font-size: 30px;
  color: $textColor;
  box-shadow: none;
  border-style: none;
  user-select: none;
  &:hover {
    background-color: $additionalColor2;
    transition: background-color 0.2s ease-out;
  }

  &:focus {
    outline: none;
  }
}

@keyframes backgroundGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.answers,
.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.answers {
  align-items: flex-end;
}

.questions {
  align-items: flex-start;
}
